*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
body {
    background: #efefef;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar-inner {
    padding: 0 16px;
}

.topNavBar nav {
    padding-top: 7px;
}


.topNavBar nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.topNavBar nav>ul>li>a:hover {
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}

.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a;
}

.topNavBar .logo .card {
    color: #9a9da2;
}

.banner {
    height: 515px;
    background: url(./img/rs-cover.jpg);
    background-size: cover;
}

.banner .mask {
    height: 100%;
    background: rgba(0, 0, 0, .8);
}
body > main {
	margin-top: -340px;
}

.userCard {
    max-width: 930px;
    margin: 0 auto;
	background: #ffffff;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
}

.userCard .pictureAndText {
    padding: 50px;
}


.userCard .pictureAndText .picture,
.userCard .pictureAndText .text {
	float: left;
}
.userCard .pictureAndText .text{
	width: 470px;
	margin-left: 50px;
}

.userCard .pictureAndText .text p {
   margin: 10px 0 20px 0;
}

.userCard .pictureAndText .text hr{
	height: 0;
	border: 0;
	border-top: 1px solid rgb(193, 193, 193);
	margin-bottom: 20px;
}

.userCard .pictureAndText .text .welcome {
	position: relative;
	padding: 5px 12px;
	font-size: 14px;
	color: white;
	font-weight: bold;
    background: rgb(232, 103, 107);
}
.userCard .pictureAndText .text h1 {
	margin-top: 30px;
}
.userCard .pictureAndText .text .welcome .triangle {
	display: block;
	position: absolute;
	top: 100%;
	left: 5px;
    width: 0;
    border: 10px solid transparent;
    border-top-width: 0;
    border-left-color: rgb(232, 103, 107);
}
.userCard .pictureAndText .text dt,
.userCard .pictureAndText .text dd {
	float: left;
	padding: 8px 0;
}
.userCard .pictureAndText .text dt {
	width: 30%;
	font-size: 12px;
	font-weight: bold;
}
.userCard .pictureAndText .text dd {
	width: 70%;
	font-size: 15px;
	color: #9da0a7;
}
.media{
	background-color: #e8676b;
	padding: 20px 0;
	text-align: center;
}
.media a {
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	margin: 0 15px;
	padding: 10px 0;
}
.media a:hover{
	background: rgb(208, 92, 96);
}
.media svg{
	width: 20px;
	height: 20px;
	fill: white;
	vertical-align: top;
}
.downResume-wrapper{
	text-align: center;
}
.downResume-wrapper .downloadResume{
	display: inline-block;
	padding: 16px 60px;
	margin: 36px;
	border: 1px solid #cbcdcf;
	border-radius: 3px;
	color: #3d4451;
	font-size: 15px;
	font-weight: 700;
	transition: box-shadow .4s;
}
.downResume-wrapper .downloadResume:hover{
	box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.3);
}

.selfIntroduction{
	max-width: 930px;
	margin: 0 auto 80px;
	text-align: center;
	font-size: 20px;
	color: #000;
	line-height:1.8;
	font-family: cursive;
}

section.skills,
section.portfolio{
	max-width: 930px;
	margin: 0 auto 70px;
}
section.skills>h2,
section.portfolio>h2{
	margin-bottom: 25px;
	text-align: center;
	color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
.skills>ol {
	padding: 40px 50px 0;
	background: rgb(255, 255, 255);
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.3);
}
.skills>ol>li{
	float: left;
	width: 48%;
}
.skills>ol>li:nth-child(even){
	float: right;
}
.skills>ol>li>h3{
	color: #3d4451;
	font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
.skills>ol>li .progressBar{
	height: 5px;
	background: rgb(250, 225, 225);
	border-radius: 4px;
	margin: 4px 0 40px;
}
.skills>ol>li .progressBar .progress{
	height: 100%;
	background-color: #e8676b;
	border-radius: 4px;
}
section.portfolio{
	text-align: center;
}
section.portfolio>nav{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-bottom: 28px;
}
section.portfolio>nav>ol{
	display: inline-block;
	vertical-align: top;
}
section.portfolio>nav>ol>li{
	float: left;
	margin-left: 44px;
	color: #000;
    font-size: 13px;
	font-weight: 600;
	cursor: pointer;
}
section.portfolio>nav>ol>li:first-child{
	margin-left: 0;
}
section.portfolio>nav>.bar{
	margin-top: 10px;
	height: 5px;
	background: #ffffff;
	border-radius: 3px;
}
section.portfolio>nav>.bar>.bar-inner{
	height: 100%;
	border-radius: 3px;
	background: rgb(232, 103, 107);
	transition: all 0.4s;
}
/* 定义3个状态 */
section.portfolio>nav>.bar.state1>.bar-inner{
	width: 42px;
	margin-left: 0;
}
section.portfolio>nav>.bar.state2>.bar-inner{
	width: 54px;
    margin-left: 57px;
}
section.portfolio>nav>.bar.state3>.bar-inner{
	width: 90px;
    margin-left: 127px;
}

section.portfolio .works{
	height: 576px;
	position: relative;
}
section.portfolio .works .big,
section.portfolio .works .small{
	position: absolute;
} 